<div id="<%= dom_id phonebook %>">
  <p>
    <strong>First name:</strong>
    <%= phonebook.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= phonebook.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= phonebook.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= phonebook.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= phonebook.twitter %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= phonebook.instagram %>
  </p>

  <p>
    <strong>Irc hangle:</strong>
    <%= phonebook.irc_hangle %>
  </p>

  <p>
    <strong>Discord:</strong>
    <%= phonebook.discord %>
  </p>

</div>
